*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.full-page
{
  height: 100%;
width: 100%;
background-color:whitesmoke ;
background-position: center;
background-size: cover;
position: absolute;
}
.navbar
{
  width:100% ;
  height: 100hv;
  
}
nav
{
 width: 100%;
 height: 80px;
 background-color:#0009;
 line-height: 80px;
}
nav ul 
{
  float: right;
  margin-left: 30px;
}
nav ul li:hover{
	background-color:#f39d1a ;
}
nav ul li
{
  list-style-type: none;
  display: inline-block;
  transition: 0.8s all;

}
nav ul li a
{
  text-decoration: none;
  padding: 30px;
  color: white;
  font-family: Arial;
  font-size:20px ;
}
nav ul li button
{
  font-size: 25px;
  color: white;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: sans-serif;
}

a
{
  text-decoration: none;
  color: rgb(53, 36, 12);
  font-size: 28px;
}
#login-form
{
  display: none;
}
.form-box
{
  width:380px;
height:480px;
position:relative;  
margin:2% auto;
background: #ffff9f;
padding:10px;
  overflow: hidden;
}
.button-box
{
width:220px;
margin:35px auto;
position:relative;
box-shadow: 0 0 20px 9px #ff61241f;
border-radius: 30px;
}
.toggle-btn
{
padding:10px 30px;
cursor:pointer;
background:transparent;
border:0;
outline: none;
position: relative;
}
#btn
{
top: 0;
left:0;
position: absolute;
width: 110px;
height: 100%;
background: #f39d1a;
border-radius: 30px;
transition: .5s;
}
.input-group-login
{
top: 150px;
position:absolute;
width:280px;
transition:.5s;
}
.input-group-register
{
  top: 120px;
position:absolute;
width:280px;
transition:.5s;
}
.input-field
{
width: 100%;
padding:10px 0;
margin:5px 0;
border-left:0;
border-top:0;
border-right:0;
border-bottom: 1px solid #999;
outline:none;
background: transparent;
}
.submit-btn
{
width: 85%;
padding: 10px 30px;
cursor: pointer;
display: block;
margin: auto;
background: #f39d1a;
border: 0;
outline: none;
border-radius: 30px;
}
.check-box
{
margin: 30px 10px 34px 0;
}
span
{
color:#777;
font-size:12px;
bottom:68px;
position:absolute;
}
#login
{
left:50px;
}
#login input
{
color:white;
font-size:15;
}
#register
{
left:450px;
}
#register input
{
color:white;
font-size: 15;
}

.inner-footer{
  margin:0;
  padding: 0;
  background-color: #272727;

}
.social-links{
  display: flex;
}
.spcial-links ul{
  display: flex;
}
.outer-footer{
  padding: 10px;
  text-align: center;
  color:white;
  font-size:18px;
  background-color: #3f3f3f;

}
.message{
  width: 500px;
  height: 400px;
  margin: 100px auto;
  background: #fff;
  position: relative;
}
.message h1{
  margin:0;
  padding: 0;
  font-family: arial;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 50%;
  color: #555;
  transform: translateY(-50%);
}

.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 3px solid palegreen;
	padding: 10px 30px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover {
	border: 1px Solid black;
	background: rgb(175, 211, 245);
	transition: 2s;
}

.image h1{
      font-size: 50px;
      padding-left: 33%;
      color: wheat;
      
}


	

 .image{
	width:100%;
  height:50%;
	margin:auto;
	overflow: auto;
	padding-left: 7%;
  

}
.gallery{
	margin: 5px;
	border: 1px solid #ccc;
	float:left;
	width:18%;
  background-color: green;
}
.gallery img {
	width: 100%;
	height:auto;
}
.text .p{
    
  padding-left: 400px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing:1px;
  line-height: 30px;
  
}

.text h1{
  font-family: 'Times New Roman';
  font-size: 30px;
  padding-left: 240px;
  margin-top: 9%;
  letter-spacing: 1px;
}

.text{
width: 1500px;
height: auto;
margin: auto;
color: #fff;
position: relative;
}

.content-table {
	border-collapse: collapse;
	margin: 50px 0;
	font-size: 0.9em;
	min-width:1%;
	min-height: 0.1%;
	border-radius: 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	text-align:left;
	padding-left: 30px;
  }
  
  .content-table thead tr {
	background-color: #009879;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
	padding: 12px 15px;
  }
  
  .content-table tbody tr {
	border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
  }
  
  .table{
	 align-content: center;
	  
  }